.button {
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    box-shadow: rgba(111, 111, 111, 0.729) 1px 3px 12px 1px;
}

.button.primary {
    background-color: #007bff;
    color: white;
}

.button.secondary {
    background-color: #0DAA7B;
    color: white;
}

.button.primary:hover {
    background-color: #0054af;
}

.button.secondary:hover {
    background-color: #08674a;
}