.subtitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: #032D60;
    margin-bottom: 74px;
}

.subtitle h1 {
    width: 50%;
    font-weight: bold;
}

.cards {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

@media(min-width: 1200px) {
    .cards {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }
}

@media(min-width: 1400px) {
    .cards {
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
    }

}