header{
    padding: 10px;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid rgba(186, 185, 185, 0.658);
    background-color: white;

}

#botao-e-menu-hamburguer{
    display: flex;
    margin-right: 20px;
}
#nav-bar{
    display: none;
}
#nav-items{ 
    display: flex;
    list-style: none;
}
#nav-bar-lateral{
    position: absolute;
    top: 77px;
    background-color: white;
    width: 170px;
    padding: 20px;
    border: 1px solid rgba(186, 185, 185, 0.658);
    height: fit-content;
}
#nav-items-laterais{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    height: 40vh;
    align-items: center;   
}
#nav-items-laterais li a{
    text-decoration: none;
    color: #032D60;
}

#teste-gratis{
    color: white;
    background-color: #0DAA7B;
    border-radius: 10px;
    width: 130px;
    padding: 10px;
    border: none;
    font-size: 18px;
    margin-right: 3vw;
}
#teste-gratis:hover{
    background-color: #096c4f;
}


.linha{
    background-color: #032D60;
    width: 40px;
    height: 5px;
    margin: 8px;
}



@media(min-width: 720px){
    #menu-hamburguer{
        display: none;
    }
    #nav-bar{
        display: flex;
        width: 85vw;
        justify-content: flex-end;
    }
    #nav-items{
        width: 50vw;
        justify-content: space-around;
        color: #032D60;
    }
    #nav-bar-lateral{
        display: none;
    }

}


/* .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#button-menu{
    display: flex;
    gap: 3vw;
}
#salesforce-icon{
    margin-left: 1vw;
    margin-top: 1vw;
}
#barra-nav ul{
    display: none;
    position: fixed;
}

#barra-nav .ativo{
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background-color: #032D60;
    color: white;
    padding: 3rem;
    list-style: none;
    
}



#teste-gratis-button{
    color: white;
    background-color: #0DAA7B;
    border-radius: 10px;
    width: 130px;
    padding: 10px;
    border: none;
    font-size: 18px;
    margin-right: 3vw;
}
#teste-gratis-button:hover{
    background-color: #096c4f;
}

#hamburguinho{
    justify-content: space-between;
    padding-right: 2vw;
}
#hamburguinho.ativado div#linha1{
    visibility: hidden;
    
}
#hamburguinho.ativado div#linha2{
    transform: translateY(50%) rotate(45deg);
    transition: 0.3s ease-in;
}
#hamburguinho.ativado div#linha3{
    transform: translateY(-200%) rotate(-45deg);
    transition: 0.3s ease-in;
}


#hamburguinho .hamburguinho-barra{
    width: 40px;
    height: 5px;
    margin: 8px;
    background-color: #5a5f64;
    z-index: 10;
    position: relative;
}





@media(min-width: 700px){
    #hamburguinho{
        display: none;
    }
   
    #barra-nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
       
    }
    #barra-nav ul li{
        color: #032D60;
    }

}
 */
