.card-integrante {
    background-color: #032D60;
    width: 240px;
    max-width: 240px;
    padding: 40px;
    border-radius: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
}

#rm-social-icon {
    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
    width: 100%;
}

.social-icon:hover {
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}