.mini-card {
    background-color: white;
    padding: 16px;
    width: 120px;
    height: 80px;
    border-radius: 20px ;
    border: solid 1px rgba(144, 175, 190, 0.73);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(144, 175, 190, 0.73) 2px 2px 2px 2px;
    
}

.mini-card .leaves-img {
    position: absolute;
    transform: translateX(155%) translateY(-135%);

    z-index: -1;
}