.mini-card {
    background-color: white;
    padding: 16px;
    width: 120px;
    height: 80px;
    border-radius: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(111, 111, 111, 0.729) 1px 8px 10px 1px;
}

.mini-card .leaves-img {
    position: absolute;
    transform: translateX(155%) translateY(-135%);

    z-index: -1;
}